In [180]:
import pandas as pd
import numpy as np

In [181]:
df = pd.read_csv('../Limpieza_Accidentes_Transito/Accidentes de tránsito en carreteras-2020-2021-Sutran.csv', sep=';', encoding='latin-1')
df

,FECHA_CORTE,FECHA,HORA,DEPARTAMENTO,CODIGO_VÍA,KILOMETRO,MODALIDAD,FALLECIDOS,HERIDOS
0,20211222,20200101,05:40,LIMA,PE-1S,24,DESPISTE,0,0
1,20211222,20200101,16:30,CAJAMARCA,PE-3N,74,DESPISTE,0,0
2,20211222,20200101,07:45,PASCO,PE-3N,103,DESPISTE,0,1
3,20211222,20200101,18:30,CAJAMARCA,PE-08,111,DESPISTE,0,2
4,20211222,20200101,18:40,LIMA,PE-1N,174,DESPISTE,0,5
...,...,...,...,...,...,...,...,...,...
8150,20211222,20210930,01:30,ANCASH,PE-1N,348,CHOQUE,0,0
8151,20211222,20210930,04:00,MADRE DE DIOS,PE-30C,417,CHOQUE,0,0
8152,20211222,20210930,15:10,LA LIBERTAD,PE-1N,627,CHOQUE,0,2
8153,20211222,20210930,02:50,LAMBAYEQUE,PE-1N,758,DESPISTE,0,0
8154,20211222,20210930,18:47,PUNO,PE-3S,1296,CHOQUE,1,0

In [182]:
df.dtypes

FECHA_CORTE      int64
FECHA            int64
HORA            object
DEPARTAMENTO    object
CODIGO_VÍA      object
KILOMETRO       object
MODALIDAD       object
FALLECIDOS      object
HERIDOS         object
dtype: object

In [183]:
df.loc[df['HORA']== 'N.I.']

,FECHA_CORTE,FECHA,HORA,DEPARTAMENTO,CODIGO_VÍA,KILOMETRO,MODALIDAD,FALLECIDOS,HERIDOS
262,20211222,20200117,N.I.,LIMA,PE-1N,80,DESPISTE,0,0
603,20211222,20200207,N.I.,LIMA,PE-1N,146,ATROPELLO,1,0
732,20211222,20200214,N.I.,JUNIN,PE-22,165,ATROPELLO,0,1
849,20211222,20200222,N.I.,JUNIN,PE-22B,57,CHOQUE,0,8
853,20211222,20200222,N.I.,JUNIN,PE-5S,78,ATROPELLO,1,1
...,...,...,...,...,...,...,...,...,...
7463,20211222,20210821,N.I.,LIMA,PE-1N,90,CHOQUE,0,1
7481,20211222,20210822,N.I.,LIMA,PE-1N,92,CHOQUE,0,1
7509,20211222,20210823,N.I.,PUNO,PE-3S,1288,CHOQUE,0,11
7608,20211222,20210829,N.I.,LIMA,PE-1N,82,ATROPELLO,0,1
7946,20211222,20210918,N.I.,LIMA,PE-1N,105,CHOQUE,0,1

In [184]:
df.isna().sum()
df.columns

Index(['FECHA_CORTE', 'FECHA', 'HORA', 'DEPARTAMENTO', 'CODIGO_VÍA',
       'KILOMETRO', 'MODALIDAD', 'FALLECIDOS', 'HERIDOS'],
      dtype='object')

In [185]:
df1 = pd.read_csv('../Limpieza_Accidentes_Transito/Accidentes de tránsito en carreteras-2020-2021-Sutran.csv', sep=';', encoding='latin-1', usecols=lambda column: column != 'FECHA_CORTE')
df1

,FECHA,HORA,DEPARTAMENTO,CODIGO_VÍA,KILOMETRO,MODALIDAD,FALLECIDOS,HERIDOS
0,20200101,05:40,LIMA,PE-1S,24,DESPISTE,0,0
1,20200101,16:30,CAJAMARCA,PE-3N,74,DESPISTE,0,0
2,20200101,07:45,PASCO,PE-3N,103,DESPISTE,0,1
3,20200101,18:30,CAJAMARCA,PE-08,111,DESPISTE,0,2
4,20200101,18:40,LIMA,PE-1N,174,DESPISTE,0,5
...,...,...,...,...,...,...,...,...
8150,20210930,01:30,ANCASH,PE-1N,348,CHOQUE,0,0
8151,20210930,04:00,MADRE DE DIOS,PE-30C,417,CHOQUE,0,0
8152,20210930,15:10,LA LIBERTAD,PE-1N,627,CHOQUE,0,2
8153,20210930,02:50,LAMBAYEQUE,PE-1N,758,DESPISTE,0,0
8154,20210930,18:47,PUNO,PE-3S,1296,CHOQUE,1,0

*CAMBIANDO FORMATO FECHA*

ANTES: 20200112 \
AHORA: 01/12/202

In [186]:
df1['FECHA'] = pd.to_datetime(df1['FECHA'], format='%Y%m%d')
df1['FORMATO FECHA'] = df1['FECHA'].dt.strftime('%d/%m/%Y')
df1

,FECHA,HORA,DEPARTAMENTO,CODIGO_VÍA,KILOMETRO,MODALIDAD,FALLECIDOS,HERIDOS,FORMATO FECHA
0,2020-01-01,05:40,LIMA,PE-1S,24,DESPISTE,0,0,01/01/2020
1,2020-01-01,16:30,CAJAMARCA,PE-3N,74,DESPISTE,0,0,01/01/2020
2,2020-01-01,07:45,PASCO,PE-3N,103,DESPISTE,0,1,01/01/2020
3,2020-01-01,18:30,CAJAMARCA,PE-08,111,DESPISTE,0,2,01/01/2020
4,2020-01-01,18:40,LIMA,PE-1N,174,DESPISTE,0,5,01/01/2020
...,...,...,...,...,...,...,...,...,...
8150,2021-09-30,01:30,ANCASH,PE-1N,348,CHOQUE,0,0,30/09/2021
8151,2021-09-30,04:00,MADRE DE DIOS,PE-30C,417,CHOQUE,0,0,30/09/2021
8152,2021-09-30,15:10,LA LIBERTAD,PE-1N,627,CHOQUE,0,2,30/09/2021
8153,2021-09-30,02:50,LAMBAYEQUE,PE-1N,758,DESPISTE,0,0,30/09/2021
8154,2021-09-30,18:47,PUNO,PE-3S,1296,CHOQUE,1,0,30/09/2021

In [187]:
df1.drop(columns=['FECHA'])

,HORA,DEPARTAMENTO,CODIGO_VÍA,KILOMETRO,MODALIDAD,FALLECIDOS,HERIDOS,FORMATO FECHA
0,05:40,LIMA,PE-1S,24,DESPISTE,0,0,01/01/2020
1,16:30,CAJAMARCA,PE-3N,74,DESPISTE,0,0,01/01/2020
2,07:45,PASCO,PE-3N,103,DESPISTE,0,1,01/01/2020
3,18:30,CAJAMARCA,PE-08,111,DESPISTE,0,2,01/01/2020
4,18:40,LIMA,PE-1N,174,DESPISTE,0,5,01/01/2020
...,...,...,...,...,...,...,...,...
8150,01:30,ANCASH,PE-1N,348,CHOQUE,0,0,30/09/2021
8151,04:00,MADRE DE DIOS,PE-30C,417,CHOQUE,0,0,30/09/2021
8152,15:10,LA LIBERTAD,PE-1N,627,CHOQUE,0,2,30/09/2021
8153,02:50,LAMBAYEQUE,PE-1N,758,DESPISTE,0,0,30/09/2021
8154,18:47,PUNO,PE-3S,1296,CHOQUE,1,0,30/09/2021

In [188]:
df1.columns

Index(['FECHA', 'HORA', 'DEPARTAMENTO', 'CODIGO_VÍA', 'KILOMETRO', 'MODALIDAD',
       'FALLECIDOS', 'HERIDOS', 'FORMATO FECHA'],
      dtype='object')

In [189]:
df1['CODIGO_VÍA'] = df1['CODIGO_VÍA'].fillna('N.I.')

In [190]:
df1 = df1[['FORMATO FECHA','HORA', 'DEPARTAMENTO', 'CODIGO_VÍA', 'KILOMETRO', 'MODALIDAD',
    'FALLECIDOS', 'HERIDOS']]
df1

,FORMATO FECHA,HORA,DEPARTAMENTO,CODIGO_VÍA,KILOMETRO,MODALIDAD,FALLECIDOS,HERIDOS
0,01/01/2020,05:40,LIMA,PE-1S,24,DESPISTE,0,0
1,01/01/2020,16:30,CAJAMARCA,PE-3N,74,DESPISTE,0,0
2,01/01/2020,07:45,PASCO,PE-3N,103,DESPISTE,0,1
3,01/01/2020,18:30,CAJAMARCA,PE-08,111,DESPISTE,0,2
4,01/01/2020,18:40,LIMA,PE-1N,174,DESPISTE,0,5
...,...,...,...,...,...,...,...,...
8150,30/09/2021,01:30,ANCASH,PE-1N,348,CHOQUE,0,0
8151,30/09/2021,04:00,MADRE DE DIOS,PE-30C,417,CHOQUE,0,0
8152,30/09/2021,15:10,LA LIBERTAD,PE-1N,627,CHOQUE,0,2
8153,30/09/2021,02:50,LAMBAYEQUE,PE-1N,758,DESPISTE,0,0
8154,30/09/2021,18:47,PUNO,PE-3S,1296,CHOQUE,1,0

*CAMBIANDO FORMATO HORA*

Antes : 05:00 \
Ahora : 05:00:00

In [191]:
df1['HORA'] = df1['HORA'].fillna('00:00')

C:\Users\Usuario\AppData\Local\Temp\ipykernel_26724\2414420622.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['HORA'] = df1['HORA'].fillna('00:00')

In [192]:
df1['HORA'] = pd.to_datetime(df1['HORA'], errors='coerce')
df1['FORMATO HORA'] = df1['HORA'].dt.strftime('%H:%M:%S')
df1

C:\Users\Usuario\AppData\Local\Temp\ipykernel_26724\2105472556.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df1['HORA'] = pd.to_datetime(df1['HORA'], errors='coerce')
C:\Users\Usuario\AppData\Local\Temp\ipykernel_26724\2105472556.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['HORA'] = pd.to_datetime(df1['HORA'], errors='coerce')

,FORMATO FECHA,HORA,DEPARTAMENTO,CODIGO_VÍA,KILOMETRO,MODALIDAD,FALLECIDOS,HERIDOS,FORMATO HORA
0,01/01/2020,2025-01-05 05:40:00,LIMA,PE-1S,24,DESPISTE,0,0,05:40:00
1,01/01/2020,2025-01-05 16:30:00,CAJAMARCA,PE-3N,74,DESPISTE,0,0,16:30:00
2,01/01/2020,2025-01-05 07:45:00,PASCO,PE-3N,103,DESPISTE,0,1,07:45:00
3,01/01/2020,2025-01-05 18:30:00,CAJAMARCA,PE-08,111,DESPISTE,0,2,18:30:00
4,01/01/2020,2025-01-05 18:40:00,LIMA,PE-1N,174,DESPISTE,0,5,18:40:00
...,...,...,...,...,...,...,...,...,...
8150,30/09/2021,2025-01-05 01:30:00,ANCASH,PE-1N,348,CHOQUE,0,0,01:30:00
8151,30/09/2021,2025-01-05 04:00:00,MADRE DE DIOS,PE-30C,417,CHOQUE,0,0,04:00:00
8152,30/09/2021,2025-01-05 15:10:00,LA LIBERTAD,PE-1N,627,CHOQUE,0,2,15:10:00
8153,30/09/2021,2025-01-05 02:50:00,LAMBAYEQUE,PE-1N,758,DESPISTE,0,0,02:50:00
8154,30/09/2021,2025-01-05 18:47:00,PUNO,PE-3S,1296,CHOQUE,1,0,18:47:00

In [193]:
df1.iloc[262]

FORMATO FECHA    17/01/2020
HORA                    NaT
DEPARTAMENTO           LIMA
CODIGO_VÍA            PE-1N
KILOMETRO                80
MODALIDAD          DESPISTE
FALLECIDOS                0
HERIDOS                   0
FORMATO HORA            NaN
Name: 262, dtype: object

In [194]:
df1.loc[df1['HORA']== 'NaT']
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8155 entries, 0 to 8154
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   FORMATO FECHA  8155 non-null   object
 1   HORA           8067 non-null   datetime64[ns]
 2   DEPARTAMENTO   8155 non-null   object
 3   CODIGO_VÍA     8155 non-null   object
 4   KILOMETRO      8155 non-null   object
 5   MODALIDAD      8155 non-null   object
 6   FALLECIDOS     8155 non-null   object
 7   HERIDOS        8155 non-null   object
 8   FORMATO HORA   8067 non-null   object
dtypes: datetime64[ns](1), object(8)
memory usage: 573.5+ KB

In [195]:
df1.isna().sum()

FORMATO FECHA     0
HORA             88
DEPARTAMENTO      0
CODIGO_VÍA        0
KILOMETRO         0
MODALIDAD         0
FALLECIDOS        0
HERIDOS           0
FORMATO HORA     88
dtype: int64

In [196]:
df1.drop(columns=['HORA'])

,FORMATO FECHA,DEPARTAMENTO,CODIGO_VÍA,KILOMETRO,MODALIDAD,FALLECIDOS,HERIDOS,FORMATO HORA
0,01/01/2020,LIMA,PE-1S,24,DESPISTE,0,0,05:40:00
1,01/01/2020,CAJAMARCA,PE-3N,74,DESPISTE,0,0,16:30:00
2,01/01/2020,PASCO,PE-3N,103,DESPISTE,0,1,07:45:00
3,01/01/2020,CAJAMARCA,PE-08,111,DESPISTE,0,2,18:30:00
4,01/01/2020,LIMA,PE-1N,174,DESPISTE,0,5,18:40:00
...,...,...,...,...,...,...,...,...
8150,30/09/2021,ANCASH,PE-1N,348,CHOQUE,0,0,01:30:00
8151,30/09/2021,MADRE DE DIOS,PE-30C,417,CHOQUE,0,0,04:00:00
8152,30/09/2021,LA LIBERTAD,PE-1N,627,CHOQUE,0,2,15:10:00
8153,30/09/2021,LAMBAYEQUE,PE-1N,758,DESPISTE,0,0,02:50:00
8154,30/09/2021,PUNO,PE-3S,1296,CHOQUE,1,0,18:47:00

In [197]:
df1['FORMATO HORA'] = df1['FORMATO HORA'].fillna('00:00:00')

In [198]:
df1 = df1[['FORMATO FECHA','FORMATO HORA', 'DEPARTAMENTO', 'CODIGO_VÍA', 'KILOMETRO',
       'MODALIDAD', 'FALLECIDOS', 'HERIDOS']]
df1

,FORMATO FECHA,FORMATO HORA,DEPARTAMENTO,CODIGO_VÍA,KILOMETRO,MODALIDAD,FALLECIDOS,HERIDOS
0,01/01/2020,05:40:00,LIMA,PE-1S,24,DESPISTE,0,0
1,01/01/2020,16:30:00,CAJAMARCA,PE-3N,74,DESPISTE,0,0
2,01/01/2020,07:45:00,PASCO,PE-3N,103,DESPISTE,0,1
3,01/01/2020,18:30:00,CAJAMARCA,PE-08,111,DESPISTE,0,2
4,01/01/2020,18:40:00,LIMA,PE-1N,174,DESPISTE,0,5
...,...,...,...,...,...,...,...,...
8150,30/09/2021,01:30:00,ANCASH,PE-1N,348,CHOQUE,0,0
8151,30/09/2021,04:00:00,MADRE DE DIOS,PE-30C,417,CHOQUE,0,0
8152,30/09/2021,15:10:00,LA LIBERTAD,PE-1N,627,CHOQUE,0,2
8153,30/09/2021,02:50:00,LAMBAYEQUE,PE-1N,758,DESPISTE,0,0
8154,30/09/2021,18:47:00,PUNO,PE-3S,1296,CHOQUE,1,0

*DETERMINAMOS QUE COLUMNAS TENEMOS VALORES NULOS*

In [199]:
df1['DEPARTAMENTO'] = df1['DEPARTAMENTO'].fillna('NO ESPECIFICADO')

C:\Users\Usuario\AppData\Local\Temp\ipykernel_26724\18979394.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['DEPARTAMENTO'] = df1['DEPARTAMENTO'].fillna('NO ESPECIFICADO')

In [200]:
columnas_con_nulos = df1.columns[df1.isnull().any()]
print(columnas_con_nulos)

Index([], dtype='object')

In [201]:
porcentaje_nulos = df1.isnull().mean() * 100
print(porcentaje_nulos)

FORMATO FECHA    0.0
FORMATO HORA     0.0
DEPARTAMENTO     0.0
CODIGO_VÍA       0.0
KILOMETRO        0.0
MODALIDAD        0.0
FALLECIDOS       0.0
HERIDOS          0.0
dtype: float64

In [202]:
unicos = df1['CODIGO_VÍA'].unique()
unicos

array(['PE-1S', 'PE-3N', 'PE-08', 'PE-1N', 'PE-5N', 'PE-1SJ', 'PE-1SD',
       'PE-34J', 'PE-34E', 'PE-34A', 'PE-22', 'PE-16', 'PE-34H', 'PE-08B',
       'PE-3S', 'PE-30C', 'PE-34B', 'LM-108', 'PE-28A', 'PE-34', 'PE-08A',
       'PE-20A', 'PE-5S', 'PE-28B', 'PE-30A', 'PE-18A', 'PE-12B',
       'PE-1NF', 'PE-06B', 'PE-06A', 'AN-110', 'AN-111', 'PE-18C',
       'PE-02A', 'PE-1NJ', 'PE-14A', 'LO-103', 'PE-1NA', 'PE-34F',
       'PE-34G', 'PE-36A', 'PE-3SA', 'N.I.', 'CU-117', 'PE-14', 'PE-3SD',
       'PE-36', 'PE-1NE', 'PE-10A', 'PE-36B', 'PE-28G', 'PE-22B', 'PE-02',
       'PE-1NL', 'PE-5NB', 'PE-28F', 'PE-28D', 'PE-1SE', 'PE-12',
       'PE-26B', 'PE-30', 'MO-108', 'AN-107', 'PE-12A', 'AM-108', 'PE-24',
       'PE-3SF', 'PE-38', 'AR-115', 'PE-28', 'PE-10C', 'AY-102', 'PE-3SY',
       'PE-3SB', 'PE-3NB', 'AR-109', 'HV-101', 'PI-102', 'PE-04A',
       'PE-02D', 'PE-3SG', 'AN-100', 'AY-100', 'LI-122', 'PE-34I',
       'PE-20', 'PE-1NN', 'AR-105', 'AP-769', 'PE-04B', 'SM-114',
       'MO-107', 'PE-38A', 'PI-107', 'AR-106', 'AN-106', 'PU-120',
       'PE-04C', 'PE-30B', 'CU-113', 'PE-26', 'PE-20B', 'LA-119',
       'CU-111', 'AN-117', 'PE-10B', 'PA-104', 'PE-34K', 'PE-18',
       'LM-875', 'PE-34S', 'PE-18B', 'AN-104', 'TU-101', 'AN-625',
       'CU-130', 'PA-545', 'AY-585', 'PE-3NA', 'PE-108', 'PE-109',
       'PE-105', 'CU-134', 'PE-28E', 'CU-105', 'PE-08C', 'PE-34C',
       'PE-1SG', 'CU-118', 'PE-5NI', 'PA-107', 'PE-20C', 'PE-38B',
       'LM-101', 'AN-624', 'LA-115', 'PE-14C', 'PE-3N ', 'PE-5SA',
       'PE-1NB', 'PU-111', 'AR-113', 'PA-558', 'IC-505', 'PE-24A',
       'PE-3NG', 'PE-8B', 'PE-ANJ', 'PE.30A', 'LM-100', 'PE-4S', 'LI-127',
       'PE-1NG', 'PU-100', 'PE-22A', 'PE-06', 'LI-851', 'PE-5NA',
       'CU-125', 'PE-102', 'PE-3SM', 'PU-953', 'HU-111', 'AR-510',
       'LM-117', 'PE-5NC', 'AM-518', 'AN-647', 'PE-3NE', 'AM-103',
       'PU-108', 'PE-1NK', 'LI-128', 'PU-123', 'PE-3SC'], dtype=object)

In [203]:
unicos2 = df1['CODIGO_VÍA'].unique() #PARA SACAR SOLO LOS VALORES UNICOS
unicos2

array(['PE-1S', 'PE-3N', 'PE-08', 'PE-1N', 'PE-5N', 'PE-1SJ', 'PE-1SD',
       'PE-34J', 'PE-34E', 'PE-34A', 'PE-22', 'PE-16', 'PE-34H', 'PE-08B',
       'PE-3S', 'PE-30C', 'PE-34B', 'LM-108', 'PE-28A', 'PE-34', 'PE-08A',
       'PE-20A', 'PE-5S', 'PE-28B', 'PE-30A', 'PE-18A', 'PE-12B',
       'PE-1NF', 'PE-06B', 'PE-06A', 'AN-110', 'AN-111', 'PE-18C',
       'PE-02A', 'PE-1NJ', 'PE-14A', 'LO-103', 'PE-1NA', 'PE-34F',
       'PE-34G', 'PE-36A', 'PE-3SA', 'N.I.', 'CU-117', 'PE-14', 'PE-3SD',
       'PE-36', 'PE-1NE', 'PE-10A', 'PE-36B', 'PE-28G', 'PE-22B', 'PE-02',
       'PE-1NL', 'PE-5NB', 'PE-28F', 'PE-28D', 'PE-1SE', 'PE-12',
       'PE-26B', 'PE-30', 'MO-108', 'AN-107', 'PE-12A', 'AM-108', 'PE-24',
       'PE-3SF', 'PE-38', 'AR-115', 'PE-28', 'PE-10C', 'AY-102', 'PE-3SY',
       'PE-3SB', 'PE-3NB', 'AR-109', 'HV-101', 'PI-102', 'PE-04A',
       'PE-02D', 'PE-3SG', 'AN-100', 'AY-100', 'LI-122', 'PE-34I',
       'PE-20', 'PE-1NN', 'AR-105', 'AP-769', 'PE-04B', 'SM-114',
       'MO-107', 'PE-38A', 'PI-107', 'AR-106', 'AN-106', 'PU-120',
       'PE-04C', 'PE-30B', 'CU-113', 'PE-26', 'PE-20B', 'LA-119',
       'CU-111', 'AN-117', 'PE-10B', 'PA-104', 'PE-34K', 'PE-18',
       'LM-875', 'PE-34S', 'PE-18B', 'AN-104', 'TU-101', 'AN-625',
       'CU-130', 'PA-545', 'AY-585', 'PE-3NA', 'PE-108', 'PE-109',
       'PE-105', 'CU-134', 'PE-28E', 'CU-105', 'PE-08C', 'PE-34C',
       'PE-1SG', 'CU-118', 'PE-5NI', 'PA-107', 'PE-20C', 'PE-38B',
       'LM-101', 'AN-624', 'LA-115', 'PE-14C', 'PE-3N ', 'PE-5SA',
       'PE-1NB', 'PU-111', 'AR-113', 'PA-558', 'IC-505', 'PE-24A',
       'PE-3NG', 'PE-8B', 'PE-ANJ', 'PE.30A', 'LM-100', 'PE-4S', 'LI-127',
       'PE-1NG', 'PU-100', 'PE-22A', 'PE-06', 'LI-851', 'PE-5NA',
       'CU-125', 'PE-102', 'PE-3SM', 'PU-953', 'HU-111', 'AR-510',
       'LM-117', 'PE-5NC', 'AM-518', 'AN-647', 'PE-3NE', 'AM-103',
       'PU-108', 'PE-1NK', 'LI-128', 'PU-123', 'PE-3SC'], dtype=object)

In [204]:
df1.loc[df1['CODIGO_VÍA']== 'CU-117'] #ES PARA FILTRAR

,FORMATO FECHA,FORMATO HORA,DEPARTAMENTO,CODIGO_VÍA,KILOMETRO,MODALIDAD,FALLECIDOS,HERIDOS
284,19/01/2020,21:30:00,CUSCO,CU-117,43,CHOQUE,0,1
613,08/02/2020,20:30:00,CUSCO,CU-117,44,CHOQUE,0,0
1064,04/03/2020,11:28:00,CUSCO,CU-117,125,ESPECIAL,0,0
2052,30/07/2020,18:30:00,CUSCO,CU-117,43,DESPISTE,0,0
2845,13/10/2020,13:10:00,CUSCO,CU-117,25,CHOQUE,0,0
5315,04/04/2021,19:40:00,CUSCO,CU-117,14,DESPISTE,0,1
5404,10/04/2021,19:00:00,CUSCO,CU-117,14,ATROPELLO,1,0
7433,20/08/2021,22:40:00,CUSCO,CU-117,11,DESPISTE,0,1

In [205]:
df1.isna().sum() #PARA SABER LOS VALORES NULOS

FORMATO FECHA    0
FORMATO HORA     0
DEPARTAMENTO     0
CODIGO_VÍA       0
KILOMETRO        0
MODALIDAD        0
FALLECIDOS       0
HERIDOS          0
dtype: int64

In [206]:
df1.to_excel('Accidentes_Transito_Limpio.xlsx', index=False)

In [207]:
df1.loc[df1['DEPARTAMENTO'] == 'N.I.']

,FORMATO FECHA,FORMATO HORA,DEPARTAMENTO,CODIGO_VÍA,KILOMETRO,MODALIDAD,FALLECIDOS,HERIDOS
4483,02/02/2021,19:30:00,N.I.,N.I.,2,CHOQUE,0,2
4745,23/02/2021,00:00:00,N.I.,N.I.,0,N.I.,0,1
4994,09/03/2021,10:25:00,N.I.,N.I.,0,CHOQUE,0,1
5683,30/04/2021,23:55:00,N.I.,N.I.,N.I.,DESPISTE,0,1
5877,15/05/2021,10:00:00,N.I.,N.I.,13,DESPISTE,0,0
5892,15/05/2021,13:00:00,N.I.,N.I.,326,CHOQUE,0,2
6205,04/06/2021,09:45:00,N.I.,N.I.,N.I.,CHOQUE,0,1

In [208]:
## Sumar los valores de las columnas 'FALLECIDOS' y 'HERIDOS'
total_fallecidos = df1.loc[df1['DEPARTAMENTO'] == 'N.I.', 'FALLECIDOS'].astype(int).sum()
total_heridos = df1.loc[df1['DEPARTAMENTO'] == 'N.I.', 'HERIDOS'].astype(int).sum()

print(f"Total de fallecidos: {total_fallecidos}")
print(f"Total de heridos: {total_heridos}")

Total de fallecidos: 0
Total de heridos: 8

In [211]:
columnas = df1.columns[[2,3,4,5]]
fallecidos = []
heridos = []
for i in columnas:
    total_fallecidos = df1.loc[df1[i] == 'N.I.', 'FALLECIDOS'].astype(int).sum()    
    total_heridos = df1.loc[df1[i] == 'N.I.', 'HERIDOS'].astype(int).sum()
    fallecidos.append(total_fallecidos)
    heridos.append(total_heridos)

print(f'total de Fallecidos: {sum(fallecidos)}')
print(f'total de heridos: {sum(heridos)}')

total de Fallecidos: 17
total de heridos: 223